.photo-slider_wrap{font-size: 12px;}
.photo-slider_wrap img{margin-bottom: 10px;}
.photo-slider_wrap .bx-wrapper{
	box-shadow: none !important;
	margin-bottom: 0;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}
.photo-slider_wrap .bx-wrapper .bx-controls-direction a{top:40%;}
@media (min-width: 1200px) {.bx-wrapper .bx-next{right:-37px;}}
@media (min-width: 1200px) {.bx-wrapper .bx-prev{left:-37px;}}
.photo-slider_wrap .preview_wrap{
	width:189px;
	height: 120px;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 10px;
}